*.gz
*.bin
.snakemake/
__pycache__
*.pyc

data/

example/aligned.bioc.xml
example/sentences.bioc.xml
example/kb.tsv
example/mini_unfiltered.tsv
example/mini_collated.tsv
example/mini_sentences.tsv

dbsnp_selected.tsv
drugbank.xml
gene_names.tsv
selected_chemicals.json

annotations.variant_other.bioc.xml
annotations.variant_star_rs.bioc.xml

.Rproj.user
*.Rproj
.RData
.Rhistory

pgxmine_collated.tsv
pgxmine_sentences.tsv

var_drug_ann.tsv
var_fa_ann.tsv
var_pheno_ann.tsv

VennDiagram*
/paper/_book/*
_main*
sideeffects.pdf

slurm-*
