*.gz
*.bin
.snakemake/
__pycache__
*.pyc

data/

test_data/pubmed_26736037.kb.tsv
test_data/pubmed_26736037.mesh.json.gz
test_data/pubmed_26736037.sentences.bioc.xml
test_data/mini_unfiltered.tsv
test_data/mini_collated.tsv
test_data/mini_sentences.tsv

.Rproj.user
*.Rproj
.RData
.Rhistory

working/
test_working/

var_drug_ann.tsv
var_fa_ann.tsv
var_pheno_ann.tsv

VennDiagram*
/paper/_book/*
_main*
sideeffects.pdf

slurm-*
