*.gz
*.bin
.snakemake/
__pycache__
*.pyc

data/

example/aligned.bioc.xml
example/sentences.bioc.xml
example/kb.tsv
example/mini_unfiltered.tsv
example/mini_collated.tsv
example/mini_sentences.tsv

.Rproj.user
*.Rproj
.RData
.Rhistory

working/
test_working/

var_drug_ann.tsv
var_fa_ann.tsv
var_pheno_ann.tsv

VennDiagram*
/paper/_book/*
_main*
sideeffects.pdf

slurm-*
